body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    height: 15px;
    padding: 20px;
    background-color: green;
}

img {
    height: 200px;
}

nav {
    border: 1px solid black;
    padding: 16px;
    background-color: yellow;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

h1 {
    background-color: yellow;
}

a {
    background-color: yellow;
    text-decoration: none;
}

a:hover {
    background-color: blue;
}

tr:nth-child(even) {
    background-color: lightgrey;
}
